/* GLOBAL */
:root {
    --primary-color: #ff6600;
    --secondary-color: #ffc600;
    --border-radius: 6px;
    --footer-color:#a5a2a1; /* màu chữ phần footer */
    --footer-bg: #000; /* màu bg phần footer */
    --font-color-2:#ffdfc9; /* màu chữ phần about */
    /* light */
    --bg-color: #fff; /* toàn body*/
    --heading-color: #232121;
    --font-color: rgba(22, 28, 45, 0.7);
    --bg-grey: #f7f7f7;  /* 2 phần categories và blog */
    
    /* dark */
    --bg-color-dark: #232220;
    --heading-color-dark: #eee;
    --font-color-dark: #c2d0da;
    --bg-grey-dark: #282828;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Quicksand', sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
}
.title h3{
    font-family: 'Pacifico', cursive;
    color: var(--primary-color);
}
.title h2{
    color: var(--heading-color);
}

/* HEADER */
header {
    background-image: linear-gradient(to right, var(--primary-color), #05030033), url(../image/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    background-attachment: fixed;
    min-height: 700px;
}
header .container nav{
    padding: 40px 0 20px 0;
}
header a:hover{
    text-decoration: none;
}
.header__left a{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
#header__popup li{
list-style-type: none;
}
#header__popup li a{
    font-size: 20px;
    font-weight: 600;
}
.header__popup__bg{
    background: rgb(6 3 0 / 77%);
}

.header__info{
    margin-top: 100px;
}
.header__info h3{
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    text-transform: capitalize;
}
.header__right form{
    background-color: #fff;
    border-radius: var(--border-radius);
    width: 245.2px;
    height: 100%;
}
.header__right input{
    box-shadow: none;
    border-color: transparent;
    background-color: transparent;
    padding: 10px 50px 10px 20px;
    height: 45px;
    font-size: 16px;
}
.header__right input:focus{
    box-shadow: none;
    border-color: transparent;
    background-color: transparent;
}
.header__right button{
    align-items: center;
    padding-right: 20px;
}
.header__right i{
    color: var(--font-color);
    font-size: 15px;

}
.header__button{
    padding: 12px 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
    color: #fff;
    border: 2px solid #fff;
}
.header__button:hover{
    background: #fff;
    color: var(--primary-color);
}


/* ABOUT */
.about__title{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--primary-color);
    display: block;
    font-family: 'Pacifico', cursive;
}
.about__slogan{
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    color: var(--heading-color);
}
.about__right p{
    margin: 0;
    font-size: 18px;
    line-height: 28px;
}




/* MEDIA QUERY */
